
html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}




* {
  box-sizing: border-box;
}





@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }
}



body {
  max-width: 100vw;
  overflow-x: hidden;
}


/* Загальні стилі */
h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}
.team-info .social-list {
  margin-top: 15px;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  cursor: pointer;
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
  color: #434455;
}

.container {
  width: 1158px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Хедер */
.header {
  color: white;
  border-bottom: 1px solid #e7e9fc;
  padding: 0 15px;
  box-shadow: 0px 2px 1px rgba(46,47,66,0.08),
              0px 1px 1px rgba(46,47,66,0.16),
              0px 1px 6px rgba(46,47,66,0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo span,
.logo-span {
  color: #2e2f42;
}

.footer .logo span {
  color: #f4f4fd;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4,0,0.2,1);
}

.menu-item:first-child .menu-link {
  position: relative;
  color: #404bbf;
}

.menu-item:first-child .menu-link::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contacts {
  display: flex;
  gap: 40px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4,0,0.2,1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* Секція hero */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
                      url("../images/people-office-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
  color: white;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 20px;
  max-width: 496px;
  color: #ffffff;
  margin-bottom: 50px;
}

.hero-button {
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
  text-align: center;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Секція services */
.services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.services-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.services-item {
  width: calc((100% - 72px) / 4);
  box-sizing: border-box;
}

.services-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.services-desc {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Використовуємо клас icon-container для іконок у секції services */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* Секція features */
.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.features-item {
  text-align: center;
}

/* Секція team */
.team {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-title {
  text-align: center;
  margin-bottom: 72px;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.team-member {
  width: calc((100% - 72px) / 4);
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46,47,66,0.08),
              0px 1px 1px rgba(46,47,66,0.16),
              0px 2px 1px rgba(46,47,66,0.08);
  transition: box-shadow 250ms cubic-bezier(0.4,0,0.2,1);
}

/* Специфічні стилі для першого елемента команди */
.team-list > li:first-child {
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding: 32px 0;
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
}

/* Список соцмереж */
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  
}

.portfolio-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color, #4d5ae5);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}
/* Секція portfolio */
.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 72px;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: space-between;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus-within {
  box-shadow: 0px 1px 6px rgba(46,47,66,0.08),
              0px 1px 1px rgba(46,47,66,0.16),
              0px 2px 1px rgba(46,47,66,0.08);
}

.img-container {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color, #f4f4fd);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}

/* Футер */
.footer {
  background-color: #2e2f42;
  color: white;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-right: 76px;
}

.footer-text {
  font-size: 16px;
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 8px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-right: 530px;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social ul {
  display: flex;
  gap: 16px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.footer-content {
  margin-right: 120px
}

.email-input::placeholder {
  color: #ffffff;
}

.subscribe-form {
  display: flex; gap: 24px;
}


.form-container {
  margin-top: -122px;margin-left: 650px;
}

.subscribe-btn{
  min-width: 165px; height: 40px; display: flex; justify-content: center; align-items: center; font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 500; line-height: 1.5; letter-spacing: 0.04em; color: #ffffff; cursor: pointer; background-color: #4D5AE5; border: none; border-radius: 4px;
}






















  
    :root {
  --primary-bg: #404bbf;
  --primary-icon-fill: #F4F4FD;
  --input-focus-border: #4D5AE5;
}





.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
}
  .modal-container.closed {
      visibility: hidden;
      opacity: 0;
    }
  
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  box-sizing: border-box;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close svg {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-button,
.modal-close:focus .modal-button {
  fill: #ffffff;
}

.modal-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
}

.form-group {
  margin-bottom: 8px;
}
.form-group:last-of-type {
  margin-bottom: 16px;
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-container {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}
.form-input:focus,
.form-input:hover {
  border-color: #4D5AE5;
}


.form-input:focus ~ .input-icon,
.input-container:hover .input-icon {
  fill: #4D5AE5;
}

.form-textarea:focus,
.form-textarea:hover {
  border-color: #4D5AE5;
}
form-textarea
.input-container .form-input:focus + .input-icon {
  fill: #4D5AE5;
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}
.form-textarea:focus {
  border-color: var(--input-focus-border);
}

.form-checkbox {
  margin-bottom: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.checkbox-icon {
  width: 10px;
  height: 8px;
}
.form-checkbox label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}
.form-checkbox label a {
  color: #4d5ae5;
  text-decoration: none;
}

#user-privacy:checked + label .checkbox-custom {
  background-color: var(--primary-bg);
  border: none;
  fill: var(--primary-icon-fill);
}

.form-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu {
  display: none;
}

.menu-toggle {
  display: none;
}









@media screen and (max-width: 320px) {
  /* Прибираємо блоки icon-container */


.hero {
 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/t/Dark-bg.jpg');
}


.social-list {
    gap: 15px;
}









  
.aaa {
   color:#404BBF;
}
  
  .icon-container {
    display: none;
  }
  .footer-content{
    margin-right: 0px;
  }
  /* Адаптація футера */
  .footer {
    text-align: center;
  }
  .footer .container {
    align-items: center;
    justify-content: center;
  }
  .footer-logo {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  .footer-text {
    font-size: 14px;
    max-width: 100%;
    margin-bottom: 10px;
    text-align: left;
  }
  .footer-social {
    margin: 72px 0 0 0;
  }
  .footer-social ul {
    justify-content: center;
  }
  .social-item {
    width: 40px;
    height: 40px;
    
  }
  
.subscribe-form{
  display: block;
  margin: auto;
  margin-top: 0px;
  margin-left: 0px;
}

.form-container {
  margin-top: 72px;
  margin-left: 0px;
  align-content: center;
}

.subscribe-btn{
  display: inline-flex;
  margin-top: 16px;

}


  /* Інші загальні налаштування для мобільного вигляду */
  .container {
    width: 320px;
    padding: 0 10px;
    padding-left:16px;
    padding-right:16px;
    margin: 0 auto;
  }

.section team .container {
  width: 296px;
}


  
  .header-container {
    align-items: center;
    padding: 10px 0;
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    font-size: 16px;
    margin-right: 0;
  }
  .menu {
    flex-direction: column;
    gap: 10px;
  }
  .menu-link {
    padding: 12px 0;
    font-size: 14px;
  }
  .contacts {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
  }
  
  /* Hero-секція */
  .hero {
    padding: 72px 0;
    background-size: cover;
    background-position: center;
  }
  .hero-title {
    font-size: 36px;
    max-width: 60%;
    margin-bottom: 20px;
  }
  .hero-button {
    min-width: auto;
    font-size: 16px;
    margin-top: 20px;
    padding: 16px 32px;
  }
  
  /* Секція Services */
  .services {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .services-list {
    flex-direction: column;
    gap: 50px;
  }
  .services-item {
    width: 100%;
    text-align: center;
  }
  .services-title {
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .services-desc {
    font-size: 14px;
    text-align: left;
  }
  
  /* Секція Team */
  .team {
    padding: 60px 0;
  }
  .team-title {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .team-list {
    flex-direction: column;
    gap: 20px;
  }
  .team-member {
    width: 100%;
    margin-bottom: 20px;
  }
  .team-info {
    padding: 16px 0;
  }
  .team-name {
    font-size: 18px;
  }
  .team-role {
    font-size: 14px;
  }
  
.social-icon {
  width: 18px;
  height: 18px;
}




  /* Секція Portfolio */
  .portfolio {
    padding: 60px 0;
  }
  .portfolio-title {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .portfolio-list {
    flex-direction: column;
    gap: 20px;
  }
  .portfolio-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .portfolio-info {
   padding: 32px 16px;
  }
  .portfolio-name {
    font-size: 18px;
  }
  .portfolio-category {
    font-size: 14px;
  }
  .overlay-text {
    padding: 20px 16px;
    font-size: 14px;
  }
  
  /* Модальне вікно */
  .modal-window {
    width: 90%;
    padding: 60px 16px 20px;
    min-height: auto;
  }
  .modal-close {
    top: 16px;
    right: 16px;
  }
  .modal-info {
    font-size: 14px;
  }
  .form-group {
    margin-bottom: 12px;
  }
  .form-label {
    font-size: 12px;
  }
  .form-input,
  .form-textarea {
    font-size: 14px;
  }
  .form-submit {
    border-radius: 4px;
  }








  .menu-toggle {
    display: inline-block;
  }
  #menu-toggle-btn {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  

.mobile-nav a {
  
}







/* Повноекранне мобільне меню без анімації */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Білий фон */
  display: none;
  z-index: 9999;
  overflow-y: auto;
}
.mobile-menu.active {
  display: block;
}

/* Вміст мобільного меню, вирівняний ліворуч */
.mobile-menu-content {
  position: relative;
  padding: 40px 20px;
  color: #2e2f42;
  text-align: left;
}

/* Кнопка закриття меню (як modal-close) */
.close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
.close-menu:hover,
.close-menu:focus {
  background-color: #404bbf;
  border: none;
}
.close-menu svg {
  width: 8px;
  height: 8px;
}

/* Стилізація навігаційного меню */
.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 40px 0;
}
.mobile-nav li {
  margin: 20px 0;
}
.mobile-nav a {
  font-size: 44px;
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}
.mobile-nav a:hover,
.mobile-nav a:focus {
  color: #4d5ae5;
}

/* Стилізація контактної інформації */
.mobile-contact p {
  margin: 10px 0;
  font-size: 16px;
}
.mobile-contact a {
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact a:hover,
.mobile-contact a:focus {
  color: #4d5ae5;
}

/* Стилізація соціальних мереж */
.mobile-menu-content .social-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 48px;
}
.mobile-contact {
  margin-top:auto;
}

.social-link {
  text-decoration: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}













  .menu{
    display: none;
  }



  .address{
    display: none;
  }
}




@media screen and (min-width: 321px) and (max-width: 768px) {

.hero {
 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/p/Dark-bg.jpg');
}


.header .container{
  width: 90%;
}


img {
  width: 100%;
}



  
  
  /* Загальні налаштування */
  .container {
    width: 90%;
    padding: 0 20px;
    margin: 0 auto;
  }
  .icon-container {
    display: none;
  }
  /* Хедер */
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  .logo {
    font-size: 20px;
    margin-right: 50px;
  }
  .menu {
    gap: 20px;
  }
  .menu-link {
    font-size: 18px;
    padding: 15px 0;
  }
  .contacts {
    gap: 20px;
    display: block;
    margin-left: 0px;
  }
  .contact-link {
    font-size: 16px;
  }
  /* Hero-секція */
  .hero {
    padding: 150px 0;
    background-size: cover;
    background-position: center;
  }
  .hero-title {
    font-size: 42px;
    max-width: 80%;
    margin: 0 auto 30px;
    text-align: center;
  }
  .hero-button {
    font-size: 18px;
    height: 50px;
    padding: 0 20px;
  }
  /* Секція Services */
  .services {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .services-item {
    width: 45%; /* два елементи в рядку */
    text-align: center;
    margin-bottom: 20px;
  }
  /* Якщо використовуються icon-container, можна зменшити їх розмір */
  .icon-container {
    height: 80px;
    margin-bottom: 10px;
  }
  .services-title {
    font-size: 20px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: left;
  }
  .services-desc {
    font-size: 16px;
    text-align: left;
  }
  /* Секція Team */
  .team {
    padding: 100px 0;
  }
  .team-title {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .team-member {
    width: 45%;
    text-align: center;
  }
  .team-info {
    padding: 20px 0;
  }
  .team-name {
    font-size: 20px;
  }
  .team-role {
    font-size: 16px;
  }
  /* Секція Portfolio */
  .portfolio {
    padding: 100px 0;
  }
  .portfolio-title {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .portfolio-item {
    width: 45%;
    margin-bottom: 20px;
  }
  .portfolio-info {
    padding: 32px 16px;
  }
  .portfolio-name {
    font-size: 20px;
  }
  .portfolio-category {
    font-size: 16px;
  }
  .overlay-text {
    padding: 20px 16px;
    font-size: 16px;
  }
  /* Футер */
  .footer {
    padding: 80px 20px;
  }
  .footer .container {
    align-items: center;
  }
  .footer-logo {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer-text {
    font-size: 16px;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .footer-social {
    margin-bottom: 30px;
    margin-right: 0px;
  }
  .footer-social ul {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  .social-item {
    width: 40px;
    height: 40px;
  }
  .form-container {
    margin-top: 50px;
    margin-left: 0px;
}

.footer-content {
  margin-right: 0px;
  width: 350px;
}

.team-member img,
.portfolio-item img {
  object-fit: cover;
   width: 100%;
}
}
